/**
 * Common Definitions
 * Site Name
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

@color_background: white;
@color_text: #333333;
@color_purple: #ff31cc;

/*
	System components rely on existence of following variables. Their
	removal is not advisable, however you are free to define new or
	changing existing values.
*/
@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@control_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;

// colors for polution and safety categories
@polution_rank_1_color: #0E3416;
@polution_rank_2_color: #175029;
@polution_rank_3_color: #22653D;
@polution_rank_4_color: #2D7A4B;
@polution_rank_5_color: #52A845;
@polution_rank_6_color: #9DBA36;
@polution_rank_7_color: #D3CC19;
@polution_rank_8_color: #F8E900;
@polution_rank_9_color: #FCCE00;
@polution_rank_10_color: #E7821E;
@polution_rank_11_color: #E35A24;
@polution_rank_12_color: #E01A28;
@polution_rank_13_color: #B9131E;
@polution_rank_14_color: #9C1922;
@polution_rank_15_color: #751216;

@safety_rank_0_color: #A32B33;
@safety_rank_1_color: #EB5A22;
@safety_rank_2_color: #FCCE00;
@safety_rank_3_color: #3ABA8C;
@safety_rank_4_color: #3589A1;
@safety_rank_5_color: #3489CC;
@safety_rank_6_color: #236CB9;
@safety_rank_7_color: #456DB8;
@safety_rank_8_color: #4359AC;

.cell() {
	color: @color_white;
	font-weight: bold;
	text-shadow: 1px 1px 1px @color_black;
}

.safety {

	&_0 {
		.cell();
		background-color: @safety_rank_0_color;
	}

	&_1 {
		.cell();
		background-color: @safety_rank_1_color;
	}

	&_2 {
		.cell();
		background-color: @safety_rank_2_color;
	}

	&_3 {
		.cell();
		background-color: @safety_rank_3_color;
	}

	&_4 {
		.cell();
		background-color: @safety_rank_4_color;
	}

	&_5 {
		.cell();
		background-color: @safety_rank_5_color;
	}

	&_6 {
		.cell();
		background-color: @safety_rank_6_color;
	}

	&_7 {
		.cell();
		background-color: @safety_rank_7_color;
	}

	&_8 {
		.cell();
		background-color: @safety_rank_8_color;
	}
}

.polution {
	&_1 {
		.cell();
		background-color: @polution_rank_1_color;
	}

	&_2 {
		.cell();
		background-color: @polution_rank_2_color;
	}

	&_3 {
		.cell();
		background-color: @polution_rank_3_color;
	}

	&_4 {
		.cell();
		background-color: @polution_rank_4_color;
	}

	&_5 {
		.cell();
		background-color: @polution_rank_5_color;
	}

	&_6 {
		.cell();
		background-color: @polution_rank_6_color;
	}

	&_7 {
		.cell();
		background-color: @polution_rank_7_color;
	}

	&_8 {
		.cell();
		background-color: @polution_rank_8_color;
	}

	&_9 {
		.cell();
		background-color: @polution_rank_9_color;
	}

	&_10 {
		.cell();
		background-color: @polution_rank_10_color;
	}

	&_11 {
		.cell();
		background-color: @polution_rank_11_color;
	}

	&_12 {
		.cell();
		background-color: @polution_rank_12_color;
	}

	&_13 {
		.cell();
		background-color: @polution_rank_13_color;
	}

	&_14 {
		.cell();
		background-color: @polution_rank_14_color;
	}

	&_15 {
		.cell();
		background-color: @polution_rank_15_color;
	}
}