/**
 * Content-Mobile Style Sheet
 * Vehicles-Promo-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

section#info {
	line-height: 0;

	img {
		width: 100%;
		height: auto;
	}

	article {
		padding: 1rem;
		color: @color_white;
		background-color: @color_black;
		line-height: 1.2;

		h2 {
			margin-bottom: 0.5rem;
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

section#contact {
	padding: 1rem;

	background-color: @color_form_background;
	color: @color_white;

	h3 {
		color: @color_white;
	}

	form {
		display: block;
		padding-bottom: 1rem;

		label:not(.checkbox) {
			display: block;
			margin-bottom: 1.5rem;
			min-height: @finger_size;

			span {
				display: block;
				margin-bottom: 0.1rem;
			}

			input,
			select {
				width: 100%;
				padding: 0.5rem;
				box-sizing: border-box;

				border: 1px solid transparent;
				border-bottom-color: fade(@color_white, 40);
				background-color: @color_form_background;

				color: @color_white;

				&:focus {
					border-bottom-color: @color_white;
					background-color: lighten(@color_form_background, 10);
				}
			}
		}

		label.checkbox {
			input {
				display: none;
			}

			span {
				position: relative;
				display: block;
				padding-left: 2rem;

				html[dir=rtl] & {
					padding-left: 0;
					padding-right: 2rem;
				}
			}

			span:before {
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 1rem;
				height: 1rem;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				html[dir=rtl] & {
					left: auto;
					right: 0;
				}

				margin-right: 0.3rem;

				border: 1px solid fade(@color_white, 40);
				border-radius: 0.1rem;
				background-color: none;

				line-height: 1;
			}

			input:checked + span:before {
				background-color: @color_white;
			}
		}

		div.controls {
			padding: 2rem 0rem;
			text-align: center;

			button {
				padding: 0.5rem 3rem;

				border: 0;
				border-radius: 3px;

				&:hover,
				&:focus,
				&:active {
					background-color: @color_button_effects;
					color: @color_white;
				}
			}
		}
	}

	body & div.kodkod.form form  when (@theme='extranet') {
		color: @color_text;

		label {

			> input {
				box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.3);
				color: @color_text;
				transition: all 0.3s;

				&:active {
					box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
				}
			}
		}

		div.controls button {
			width: 100%;
			background-color: @color_text;
			border: 2px solid @color_purple;
			padding: 0.8rem 1.2rem;
			color: @color_background;
			margin-bottom: 1rem;
			transition: all 0.3s;

			&:focus,
			&:active {
				border: 2px solid transparent;
				cursor: pointer;
			}
		}
	}

	// home link with logo
	a {
		display: block;
		text-align: center;

		figure.logo {
			display: inline-block;
			width: 100px;
			height: 100px;
			margin: 0;

			background-image: url(@logo);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}
