/**
 * Content Style Sheet
 * Vehicles Promo Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir, Mladen Mijatov
 */

section#info {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: calc(~'(100% - 400px)');
	height: calc(~'(100vh - 4.1rem)');
	background-color: @color_black;
	vertical-align: top;

	> figure {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;

		padding: 0;
		margin: 0;

		background-repeat: no-repeat;
		background-size: cover;

		html[dir=rtl] & {
			transform: scaleX(-1);
		}
	}

	article {
		position: absolute;
		top: 10%;
		right: 5%;
		width: 350px;
		color: @color_white;
		text-align: right;

		html[dir=rtl] & {
			right: auto;
			left: 5%;
			text-align: left;
		}

		h2 {
			color: @color_title_part;
			font-size: 2.1rem;
			text-shadow: 1px 1px darken(@color_black, 20);

			&:first-line {
				color: @color_white;
			}
		}

		p {
			font-size: 1.2rem;
			text-shadow: 1px 1px darken(@color_black, 20);
		}
	}
}

section#contact {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	height: calc(~'(100vh - 4.1rem)');
	box-sizing: border-box;
	padding: 1rem;
	overflow-y: auto;

	background-color: @color_form_background;

	h3 {
		padding: 1rem;

		color: @color_white;
		text-align: center;
	}

	form {
		display: block;
		padding: 0rem 2rem;
		padding-bottom: 1.5rem;
		padding-top: 0.5rem;
		color: @color_white;


		label:not(.checkbox) {
			display: block;
			margin-bottom: 1.5rem;

			span {
				display: block;
				margin-bottom: 0.1rem;
			}

			input,
			select {
				width: 100%;
				padding: 0.5rem;
				box-sizing: border-box;

				outline: none;
				border: 1px solid transparent;
				border-bottom-color: fade(@color_white, 40);
				background-color: @color_form_background;

				color: @color_white;
				transition: all 0.3s;

				&:focus {
					border-bottom-color: @color_white;
					background-color: lighten(@color_form_background, 10);
				}
			}
		}

		label.checkbox {
			input {
				display: none;
			}

			span {
				position: relative;
				display: block;
				padding-left: 2rem;

				html[dir=rtl] & {
					padding-left: 0;
					padding-right: 2rem;
				}
			}

			span:before {
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 1rem;
				height: 1rem;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);

				html[dir=rtl] & {
					left: auto;
					right: 0;
				}

				margin-right: 0.3rem;

				border: 1px solid fade(@color_white, 40);
				border-radius: 0.1rem;
				background-color: transparent;

				line-height: 1;
				transition: all 0.3s;
			}

			input:checked + span:before {
				background-color: @color_white;
			}
		}

		div.controls {
			padding: 2rem 0rem;
			text-align: center;

			button {
				padding: 0.5rem 3rem;

				border: 0;
				border-radius: 5px;

				transform: perspective(1px) translateZ(0);
				transition: all 0.3s;

				&:before {
					position: absolute;
					content: '';
					background-color: darken(@color_button_effects, 10);
					border-radius: 5px;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: -1;
					transform: scaleX(0);
					transform-origin: 0% 50%;
					transition-duration: 0.3s;
					transition-timing-function: ease-out;

					html[dir=rtl] & {
						transform-origin: 100% 50%;
					}
				}

				&:hover,
				&:active,
				&:focus {
					color: white;
					&:before {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	body & div.kodkod.form form  when (@theme='extranet') {
		color: @color_text;

		label {

			> input {
				box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.3);
				color: @color_text;
				transition: all 0.3s;

				&:hover,
				&:active {
					box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
				}
			}
		}

		div.controls button {
			width: 100%;
			background-color: @color_text;
			border: 2px solid @color_purple;
			padding: 0.8rem 1.2rem;
			color: @color_background;
			margin-bottom: 1rem;
			transition: all 0.3s;

			&:hover {
				border: 2px solid transparent;
				cursor: pointer;
			}
		}
	}

	// home link with logo
	a {
		display: block;
		text-align: center;

		figure.logo {
			display: inline-block;
			width: 100px;
			height: 100px;
			margin: 0;

			background-image: url(@logo);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}


@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	section#info,
	section#contact {
		display: block;
		width: 100%;
	}

	section#info {
		height: 700px;

		figure {
			position: initial;
			display: block;
		}
	}

	section#contact {

		height: auto;
		padding: 2rem calc(~'(100% - 500px) / 2');

		form {
			border: 1px solid @color_white;
			padding: 1rem 1rem;

			label {
				margin-bottom: 1.5rem;
			}
		}

		button {
			margin: 1rem auto;
		}

		a figure.logo {
			margin-top: 2rem;
		}
	}

	section#info {
		article {
			left: 15%;
		}
	}
}
