/**
 * Font Definitions
 * Template Name
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

// regular font Latin
@font-face {
	font-family: 'generic';
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

	src: url(../images/fonts/roboto-regular.ttf) format('truetype');
}

// bold font Latin
@font-face {
	font-family: 'generic';
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

	src: url(../images/fonts/roboto-bold.ttf) format('truetype');
}

// italic font Latin
@font-face {
	font-family: 'generic';
	font-weight: normal;
	font-style: italic;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

	src: url(../images/fonts/roboto-italic.ttf) format('truetype');
}

// regular font Hebrew
@font-face {
	font-family: 'generic';
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;

	src: url(../images/fonts/assistant-regular.ttf) format('truetype');
}

// bold font Hebrew
@font-face {
	font-family: 'generic';
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;

	src: url(../images/fonts/assistant-bold.ttf) format('truetype');
}
