/**																																																									/**
 * Footer Style Sheet
 * Vehicles-Promo-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

// container for vehicle stats
#stats {
	box-sizing: border-box;
	display: inline-block;
	background-color: @color_white;
	position: relative;
	vertical-align: middle;
	padding: 0.3rem calc(~'(50% - 200px) / 2');

	// stats preview
	> p {
		padding: 0.8rem 1rem;
		margin: 0;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
		border: 1px solid rgba(0, 0, 0, 0.3);
		position: relative;
		transform: perspective(1px) translateZ(0);
		overflow: hidden;
		cursor: pointer;
		transition: all 0.3s;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 100%;
			z-index: -1;
			background-color: lighten(@color_button_effects, 10);
			height: 4px;
			transition: all 0.4s;
			transition-timing-function: ease-out;

			html[dir=rtl] & {
				left: 100%;
				right: 0;
			}
		}

		&:hover:before,
		&:active:before,
		&:focus:before {
			right: 0;

			html[dir=rtl] & {
				left: 0;
			}
		}

		strong {
			padding: 0.3rem;
			color: @color_white;

			&.safety_7 {
				margin-right: 2rem;

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: 2rem
				}
			}
		}

		&.button-active {
			background-color: darken(@color_white, 15);
		}
	}

	// popup container
	.details {
		position: absolute;
		opacity: 0;
		background-color: @color_white;
		width: 1050px;
		bottom: calc(~'(100% + 30px)');
		left: 5%;
		box-shadow: 3px 2px 1px 0px fade(@color_black, 50%);
		padding: 0.8rem;
		pointer-events: none;
		transition: all 0.3s;

		html[dir=rtl] & {
			right: 0;
		}

		&:before {
			position: absolute;
			content: '';
			left: calc(~'(50% - 200px)');
			bottom: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: @color_white transparent transparent transparent;
			transform: translateY(10px);
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
			transition: all 0.3s;

			html[dir=rtl] & {
				left: auto;
				right: calc(~'(50% - 200px)');
			}
		}


		&.visible {
			opacity: 1;
			pointer-events: auto;
			transition: opacity 0.3s;
		}

		> p {
			display: block;
			width: 100%;
			font-size: 0.8rem;
		}

		table {
			margin: 1.5rem;

			tr th,
			tr td {
				padding: 0.5rem;
				font-size: 0.7rem;
				text-align: center;
			}
		}

		// model safety table
		table:nth-of-type(1) {
			display: inline-block;
			vertical-align: bottom;
			table-layout: auto;
			border-collapse: collapse;

			tr th,
			tr td {
				border: 1px solid @color_form_background;
				border-collapse: collapse;
			}

			tr td {
				color: @color_black;
				background-color: @color_white;
			}

			tr:nth-of-type(1) td:nth-of-type(2) {
				white-space: nowrap;
			}

			tr:nth-of-type(2) td:nth-of-type(2) {
				white-space: nowrap;
			}

			td.safety_6 {
				background-color: @safety_rank_6_color;
				color: @color_white;
				font-weight: bold;
				text-shadow: 1px 1px 1px @color_black;
			}

			td.safety_7 {
				background-color: @safety_rank_7_color;
				color: @color_white;
				font-weight: bold;
				text-shadow: 1px 1px 1px @color_black;
			}
		}

		// model polution table
		table:nth-of-type(2) {
			table-layout: auto;
			border-collapse: collapse;
			display: inline-block;
			vertical-align: bottom;

			tr th,
			tr td {
				border: 1px solid @color_form_background;
				border-collapse: collapse;
			}

			tr td {
				color: @color_black;
			}

			thead {
				display: table-header-group;
			}

			tbody {
				display: table-row-group;
			}

			tr:nth-of-type(1) td:nth-of-type(3) {
				white-space: nowrap;
			}

			tr:nth-of-type(2) td:nth-of-type(3) {
				white-space: nowrap;
			}

			td.polution_13 {
				background-color: @polution_rank_13_color;
				color: @color_white;
				font-weight: bold;
				text-shadow: 1px 1px 1px @color_black;
			}

			td.polution_14 {
				background-color: @polution_rank_14_color;
				color: @color_white;
				font-weight: bold;
				text-shadow: 1px 1px 1px @color_black;
			}
		}

		// safety categories table
		table:nth-of-type(3) {
			display: inline-block;
			box-sizing: border-box;
			vertical-align: bottom;
			color: @color_white;
			font-weight: bold;
			text-shadow: 1px 1px 1px @color_black;

			thead {
				color: @color_text;
				text-shadow: none;
			}

			tr th,
			tr td {
				font-size: 0.6rem;
			}

			td:nth-of-type(1) {
				background-color: @color_white;
				color: @color_black;
				font-weight: normal;
				text-shadow: none;
			}

			td:nth-of-type(2) {
				background-color: @safety_rank_0_color;
			}

			td:nth-of-type(3) {
				background-color: @safety_rank_1_color;
			}

			td:nth-of-type(4) {
				background-color: @safety_rank_2_color;
			}

			td:nth-of-type(5) {
				background-color: @safety_rank_3_color;
			}

			td:nth-of-type(6) {
				background-color: @safety_rank_4_color;
			}

			td:nth-of-type(7) {
				background-color: @safety_rank_5_color;
			}

			td:nth-of-type(8) {
				background-color: @safety_rank_6_color;
			}

			td:nth-of-type(9) {
				background-color: @safety_rank_7_color;
			}

			td:nth-of-type(10) {
				background-color: @safety_rank_8_color;
			}

			td:nth-of-type(11) {
				background-color: @color_white;
				color: @color_black;
				font-weight: normal;
				text-shadow: none;
			}
		}

		// polution categories table
		table:nth-of-type(4) {
			display: inline-block;
			box-sizing: border-box;
			vertical-align: bottom;
			font-weight: bold;
			text-shadow: 1px 1px 1px @color_black;

			thead {
				color: @color_text;
				text-shadow: none;
			}

			tr th,
			tr td {
				font-size: 0.6rem;
			}

			tr td {
				color: @color_white;
			}

			td:nth-of-type(1) {
				background-color: @color_white;
				color: @color_black;
				font-weight: normal;
				text-shadow: none;
			}

			td:nth-of-type(2) {
				background-color: @polution_rank_1_color;
			}

			td:nth-of-type(3) {
				background-color: @polution_rank_2_color;
			}

			td:nth-of-type(4) {
				background-color: @polution_rank_3_color;
			}

			td:nth-of-type(5) {
				background-color: @polution_rank_4_color;
			}

			td:nth-of-type(6) {
				background-color: @polution_rank_5_color;
			}

			td:nth-of-type(7) {
				background-color: @polution_rank_6_color;
			}

			td:nth-of-type(8) {
				background-color: @polution_rank_7_color;
			}

			td:nth-of-type(9) {
				background-color: @polution_rank_8_color;
			}

			td:nth-of-type(10) {
				background-color: @polution_rank_9_color;
			}

			td:nth-of-type(11) {
				background-color: @polution_rank_10_color;
			}

			td:nth-of-type(12) {
				background-color: @polution_rank_11_color;
			}

			td:nth-of-type(13) {
				background-color: @polution_rank_12_color;
			}

			td:nth-of-type(14) {
				background-color: @polution_rank_13_color;
			}

			td:nth-of-type(15) {
				background-color: @polution_rank_14_color;
			}

			td:nth-of-type(16) {
				background-color: @polution_rank_15_color;
			}

			td:nth-of-type(17) {
				background-color: @color_white;
				color: @color_black;
				font-weight: normal;
				text-shadow: none;
			}
		}
	}
}

div.copyright {
	display: inline-block;
	box-sizing: border-box;
	color: @color_black;
	text-align: center;
	background-position: calc(~'50% - 130px') center;
	vertical-align: middle;
	padding: 0.8rem calc(~'(50% - 350px) / 2');

	a:hover,
	a:active {
		color:@color_form_background;
		transition: all 0.3s;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {

	#stats .details {
		width: 130%;
	}

	div.copyright {
		padding: 1rem calc(~'(50% - 300px) / 2');
	}

}
