/**
 * Themes Style Sheet
 * Template Name
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

@color_white: #fff;
@color_black: #000;
@color_gray: lighten(@color_black, 30%);
@color_title_part: lighten(@color_black, 50%);

.theme('default') {
	@color_form_background: lighten(@color_black, 30%);
	@color_button_effects: #e50000;
}

.theme('blue') {
	@color_base: #071140;
	@color_form_background: mix(@color_base, @color_gray, 70%);
	@color_button_effects: mix(@color_base, @color_gray, 70%);
}

.theme('green') {
	@color_base: #04400F;
	@color_form_background: @color_base;
	@color_button_effects: mix(@color_base, @color_gray, 70%);
}

.theme('purple') {
	@color_base: #380540;
	@color_form_background: mix(@color_base, @color_gray, 50%);
	@color_button_effects: mix(@color_base, @color_gray, 70%);
}

.theme('extranet') {
	@color_base: @color_white;
	@color_form_background: @color_base;
	@color_button_effects: @color_purple;
}

// mixin used for publishing selected theme name
.theme(@name) {
	@theme: @name;
}
